// COLOR VARIABLES
$color-primary: #c54a4a;
$color-primary-dark: #773030;

$color-secondary: #101d2c;

$color-gray-light-1: #f9f7f6;
$color-gray-light-2: #aaa;

$color-gray-dark-1: #543a3a;
$color-gray-dark-2: #6d4b4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;