.homes{
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem;

    @media only screen and (max-width: $bp-small){
        margin: 10rem 0;
        
    }
}

.home{
    background-color: $color-gray-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__img{
        width: 100%;
        grid-column: 1 / -1;
    }

    &__name{
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        
        justify-self: center;
        align-self: end;
        z-index: 3;
        width: 80%;
        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        background-color: $color-secondary;
        color: #fff;
        font-weight: 400;
        transform: translateY(-50%);
    }

    &__location,
    &__rooms,
    &__area,
    &__price{

        font-size: 1.5rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;

        svg{
            fill: $color-primary-dark;
            
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }
        p{
            color: $color-secondary;
        }
    }

    &__area,
    &__price{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    &__btn{
        grid-column: 1 / -1;
    }
}